click~=6.7
paho-mqtt~=1.3.1
twilio~=6.10.1

# Testing
pytest~=3.2.2
pytest-watch
tox

# Coverage
coverage
pytest-cov

# Linting
flake8
# I generally run with these:
mccabe            # report functions with high complexity
flake8-bandit     # security testing
flake8-bugbear    # likely bugs and design problems
flake8-builtins   # using a Python built-in as a variable name
flake8-docstrings # doc string format
flake8-isort      # alphabetize and group imports according to PEP8
# Sometimes I use this:
# flake8-comprehensions
# I just discovered this:
flake8-mock       # mock methods that don't look like they'd assert but don't

# Example gateway
profanityfilter~=2.0.3
